In [1]:
#importing libraries:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#importing warnings:
import warnings
warnings.filterwarnings('ignore')

#display all the rows and columns:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [2]:
#importing train dataset:
train_df=pd.read_csv(r'C:\Users\VISHAL\Web Deployment\Cloud Condition Prediction\data\train_CloudCondition.csv',
                     index_col=0,header=0)
print(train_df.shape)
train_df.head()

(71428, 11)

,Cloud_Condition,Rain_OR_SNOW,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Condensation,Solar irradiance intensity
Day,,,,,,,,,,,
1,Partly Cloudy,rain,-13,-19.0,0.134364,17.0,68.0,4.0,1008.0,Frost,1068
2,Partly Cloudy,rain,15,5.0,0.847434,8.0,291.0,2.0,1036.0,Frost,1291
3,Partly Cloudy,rain,33,-12.0,0.763775,32.0,32.0,8.0,1004.0,Dry,1433
4,Partly Cloudy,snow,30,36.0,0.255069,15.0,130.0,3.0,1016.0,Dry,1410
5,Partly Cloudy,snow,27,30.0,0.495435,63.0,60.0,15.0,1007.0,Fog,1391

In [3]:
train_df.columns

Index(['Cloud_Condition', 'Rain_OR_SNOW', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Pressure (millibars)',
       'Condensation', 'Solar irradiance intensity'],
      dtype='object')

In [4]:
train_df=train_df[['Rain_OR_SNOW', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Pressure (millibars)',
       'Condensation', 'Solar irradiance intensity','Cloud_Condition']]
print(train_df.shape)
train_df.head()

(71428, 11)

,Rain_OR_SNOW,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Condensation,Solar irradiance intensity,Cloud_Condition
Day,,,,,,,,,,,
1,rain,-13,-19.0,0.134364,17.0,68.0,4.0,1008.0,Frost,1068,Partly Cloudy
2,rain,15,5.0,0.847434,8.0,291.0,2.0,1036.0,Frost,1291,Partly Cloudy
3,rain,33,-12.0,0.763775,32.0,32.0,8.0,1004.0,Dry,1433,Partly Cloudy
4,snow,30,36.0,0.255069,15.0,130.0,3.0,1016.0,Dry,1410,Partly Cloudy
5,snow,27,30.0,0.495435,63.0,60.0,15.0,1007.0,Fog,1391,Partly Cloudy

In [5]:
#importing test dataset:
test_df=pd.read_csv(r'C:\Users\VISHAL\Web Deployment\Cloud Condition Prediction\data\test_CloudCondition.csv',
                    index_col=0,header=0)
print(test_df.shape)
test_df.head()

(16452, 10)

,Rain_OR_SNOW,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Condensation,Solar irradiance intensity
Day,,,,,,,,,,
80002,rain,1.0,0.0,0.078150,17.0,300,10.0,1029.0,Fog,1399
80003,rain,-3.0,25.0,0.653251,25.0,322,0.0,1009.0,Dry,1468
80004,rain,18.0,17.0,0.930970,37.0,330,12.0,1045.0,Dry,1152
80005,rain,33.0,-12.0,0.778844,50.0,350,3.0,1022.0,Fog,1003
80006,rain,25.0,-19.0,0.491523,62.0,300,12.0,1042.0,Fog,1228

In [6]:
train_df.describe(include='all')

,Rain_OR_SNOW,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Condensation,Solar irradiance intensity,Cloud_Condition
count,71313,71176,71425.000000,71427.000000,71426.000000,71391.000000,71408.000000,71363.000000,71428,71428.000000,71428
unique,2,123,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,26
top,rain,6,NaN,NaN,NaN,NaN,NaN,NaN,Mist,NaN,Mostly Cloudy
freq,62316,1141,NaN,NaN,NaN,NaN,NaN,NaN,21685,NaN,22017
mean,NaN,NaN,5.550606,0.501020,31.525831,179.221793,8.014606,1022.980606,NaN,1249.736546,NaN
std,NaN,NaN,19.093822,0.289431,18.507098,103.729210,4.907893,13.559828,NaN,144.828721,NaN
min,NaN,NaN,-27.000000,0.000019,0.000000,0.000000,0.000000,1000.000000,NaN,1000.000000,NaN
25%,NaN,NaN,-11.000000,0.249233,16.000000,89.000000,4.000000,1011.000000,NaN,1124.000000,NaN
50%,NaN,NaN,5.000000,0.501461,31.000000,180.000000,8.000000,1023.000000,NaN,1249.000000,NaN
75%,NaN,NaN,22.000000,0.751978,48.000000,269.000000,12.000000,1035.000000,NaN,1375.000000,NaN
max,NaN,NaN,38.000000,0.999990,63.000000,359.000000,16.000000,1046.000000,NaN,1500.000000,NaN

In [7]:
test_df.describe(include='all')

,Rain_OR_SNOW,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Condensation,Solar irradiance intensity
count,16452,16452.000000,16452.000000,16452.000000,16452.000000,16452.000000,16452.000000,16452.000000,16452,16452.000000
unique,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
top,rain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mist,NaN
freq,14666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4934,NaN
mean,NaN,8.950207,5.723444,0.499412,31.497707,179.692135,8.059598,1023.086687,NaN,1250.527231
std,NaN,17.537058,19.092702,0.287133,18.554079,104.404649,4.916190,13.449947,NaN,144.827497
min,NaN,-21.000000,-27.000000,0.000138,0.000000,0.000000,0.000000,1000.000000,NaN,1000.000000
25%,NaN,-6.000000,-11.000000,0.251266,15.000000,89.000000,4.000000,1012.000000,NaN,1125.000000
50%,NaN,9.000000,6.000000,0.498290,31.000000,181.000000,8.000000,1023.000000,NaN,1249.000000
75%,NaN,24.000000,22.043056,0.745880,48.000000,271.000000,12.000000,1035.000000,NaN,1375.000000
max,NaN,39.000000,47.527778,1.000000,63.000000,359.000000,16.100000,1046.000000,NaN,1500.000000

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71428 entries, 1 to 80000
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Rain_OR_SNOW                71313 non-null  object
 1   Temperature (C)             71176 non-null  object
 2   Apparent Temperature (C)    71425 non-null  float64
 3   Humidity                    71427 non-null  float64
 4   Wind Speed (km/h)           71426 non-null  float64
 5   Wind Bearing (degrees)      71391 non-null  float64
 6   Visibility (km)             71408 non-null  float64
 7   Pressure (millibars)        71363 non-null  float64
 8   Condensation                71428 non-null  object
 9   Solar irradiance intensity  71428 non-null  int64
 10  Cloud_Condition             71428 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 6.5+ MB

In [9]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16452 entries, 80002 to 96453
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Rain_OR_SNOW                16452 non-null  object
 1   Temperature (C)             16452 non-null  float64
 2   Apparent Temperature (C)    16452 non-null  float64
 3   Humidity                    16452 non-null  float64
 4   Wind Speed (km/h)           16452 non-null  float64
 5   Wind Bearing (degrees)      16452 non-null  int64
 6   Visibility (km)             16452 non-null  float64
 7   Pressure (millibars)        16452 non-null  float64
 8   Condensation                16452 non-null  object
 9   Solar irradiance intensity  16452 non-null  int64
dtypes: float64(6), int64(2), object(2)
memory usage: 1.4+ MB

In [10]:
print(train_df.isnull().sum())
print()
print(test_df.isnull().sum())

Rain_OR_SNOW                  115
Temperature (C)               252
Apparent Temperature (C)        3
Humidity                        1
Wind Speed (km/h)               2
Wind Bearing (degrees)         37
Visibility (km)                20
Pressure (millibars)           65
Condensation                    0
Solar irradiance intensity      0
Cloud_Condition                 0
dtype: int64

Rain_OR_SNOW                  0
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Pressure (millibars)          0
Condensation                  0
Solar irradiance intensity    0
dtype: int64

In [11]:
train_df['Temperature (C)'].unique()

array(['-13', '15', '33', '30', '27', '-17', '-5', '-14', '10', '7', '9',
       '20', '3', '29', '-8', '-15', '-20', '36', '32', '6', '17', '28',
       '-21', '23', '-4', '25', '-7', '16', '39', '-1', '13', '35', '22',
       '12', '14', '1', '8', '-3', '38', '5', '37', '-10', '19', '34',
       '26', '0', '24', '11', '21', '-9', '-2', '4', '-19', '-6', '2',
       '-16', '-11', '18', '31', '-18', '-12', nan, '-', 16, 30, 17, -13,
       36, 4, 9, 10, 13, 27, -8, -16, 34, 2, -11, -9, -10, -5, 39, 14, 7,
       20, -3, 15, 24, 35, 25, -12, 26, -14, 19, 5, 38, -4, -17, 0, 8, 21,
       -20, -21, 37, 22, 11, 28, 12, -18, 29, 1, -2, -7, -6, 33, 3, 32,
       -1, 6, -15, 18, 23, 31, -19], dtype=object)

In [12]:
train_df['Temperature (C)'].replace({'-':np.nan},inplace=True)
print(train_df['Temperature (C)'].unique())
print(train_df['Temperature (C)'].dtype)

['-13' '15' '33' '30' '27' '-17' '-5' '-14' '10' '7' '9' '20' '3' '29'
 '-8' '-15' '-20' '36' '32' '6' '17' '28' '-21' '23' '-4' '25' '-7' '16'
 '39' '-1' '13' '35' '22' '12' '14' '1' '8' '-3' '38' '5' '37' '-10' '19'
 '34' '26' '0' '24' '11' '21' '-9' '-2' '4' '-19' '-6' '2' '-16' '-11'
 '18' '31' '-18' '-12' nan 16 30 17 -13 36 4 9 10 13 27 -8 -16 34 2 -11 -9
 -10 -5 39 14 7 20 -3 15 24 35 25 -12 26 -14 19 5 38 -4 -17 0 8 21 -20 -21
 37 22 11 28 12 -18 29 1 -2 -7 -6 33 3 32 -1 6 -15 18 23 31 -19]
object

In [13]:
train_df["Temperature (C)"]=train_df["Temperature (C)"].astype(float)
print('Temperature (C) :',train_df['Temperature (C)'].dtype)

Temperature (C) : float64

In [14]:
train_df['Rain_OR_SNOW'].fillna(train_df['Rain_OR_SNOW'].mode()[0],inplace=True)
train_df['Temperature (C)'].fillna(train_df['Temperature (C)'].mean(),inplace=True)
train_df['Apparent Temperature (C)'].fillna(train_df['Apparent Temperature (C)'].mean(),inplace=True)
train_df['Humidity'].fillna(train_df['Humidity'].mean(),inplace=True)
train_df['Wind Speed (km/h)'].fillna(train_df['Wind Speed (km/h)'].mean(),inplace=True)
train_df['Wind Bearing (degrees)'].fillna(train_df['Wind Bearing (degrees)'].mean(),inplace=True)
train_df['Visibility (km)'].fillna(train_df['Visibility (km)'].mean(),inplace=True)
train_df['Pressure (millibars)'].fillna(train_df['Pressure (millibars)'].mean(),inplace=True)

In [15]:
print(train_df.isnull().sum())

Rain_OR_SNOW                  0
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Pressure (millibars)          0
Condensation                  0
Solar irradiance intensity    0
Cloud_Condition               0
dtype: int64

In [16]:
print(train_df.Rain_OR_SNOW.unique())
train_df.Rain_OR_SNOW.value_counts()

['rain' 'snow']

rain    62431
snow     8997
Name: Rain_OR_SNOW, dtype: int64

In [17]:
print(test_df.Rain_OR_SNOW.unique())
test_df.Rain_OR_SNOW.value_counts()

['rain' 'snow']

rain    14666
snow     1786
Name: Rain_OR_SNOW, dtype: int64

In [18]:
print(train_df.isnull().sum())
print()
print(test_df.isnull().sum())

Rain_OR_SNOW                  0
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Pressure (millibars)          0
Condensation                  0
Solar irradiance intensity    0
Cloud_Condition               0
dtype: int64

Rain_OR_SNOW                  0
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Pressure (millibars)          0
Condensation                  0
Solar irradiance intensity    0
dtype: int64

In [19]:
train_df.to_csv(r'C:\Users\VISHAL\Web Deployment\Cloud Condition Prediction\data\exported_data\Clean_train_data.csv',
                index=True,header=True)

In [20]:
test_df.to_csv(r'C:\Users\VISHAL\Web Deployment\Cloud Condition Prediction\data\exported_data\Clean_test_data.csv',
                index=True,header=True)